@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff;
}


.scroll-snap-container {
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  height: 100vh; /* Full height for scrolling */
  overflow-y: scroll; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.scroll-snap-item {

  scroll-snap-align: start;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}
